<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onRedirectToCats()"><ion-icon name="pencil"></ion-icon></ion-button>
      <ion-button (click)="onModalDismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-grid>
    <ion-row>
      <ion-col size="6" id="left">
        <ion-item
          [color]="activeItem === item.id ? 'medium' : null"
          (click)="onMainCatClick(item)"
          lines="full"
          button
          [detail]="item.subCount > 0"
          *ngFor="let item of cats"
          >{{ item.name }}</ion-item
        >
        <div class="dummy"></div>
      </ion-col>

      <ion-col size="6" id="right">
        <ion-item (click)="onSubCatClick(item)" lines="full" button *ngFor="let item of filteredSubCats">{{
          item.name
        }}</ion-item>
        <div class="dummy"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
