.container {
  display: grid;
  grid-template-columns: 80px auto 80px;
  justify-content: space-between;
  color: var(--ion-color-primary-contrast);
  // color: white;
  background-color: var(--ion-color-primary-tint);
  padding: 0.6rem;
  // margin-top: 6px;

}

.chevron {
  text-align: center;
  cursor: pointer;
}

.month-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* justify-content: center; */
  row-gap: 20px;
  /* column-gap: 20px; */
  padding: 1rem .5rem;

  & > div {
    text-align: center;
    font-size: 0.94em;
    cursor: pointer;
  }
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  padding: 0.5rem;
  color: var(--ion-color-primary-contrast);
  // color: white;
  background-color: var(--ion-color-primary-tint);
  //background-color: #f6fff4;

  div {
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;
  }
}

