ion-title {
  padding-left: 8px;
}

ion-segment {
  // --background: var(--ion-color-primary)
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

ion-segment-button {
  font-size: 12px;
  text-transform: none;
  height: 36px;
  letter-spacing: 0.02em;
  min-height: 36px;
}
