<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon  slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="app/settings"></ion-back-button> -->
    </ion-buttons>
    <ion-title>Accounts</ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!reorderMode" (click)="switchReorderMode()">
        <ion-icon slot="icon-only" name="swap-vertical"></ion-icon>
      </ion-button>
      <ion-button *ngIf="reorderMode" (click)="switchReorderMode()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button (click)="addNewInModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="accounts$ | async as data">
    <ion-reorder-group (ionItemReorder)="doReorder($event, data)" [disabled]="!reorderMode">
      <ng-container *ngFor="let item of data">
        <ion-item lines="full">
          <ion-label>
            {{item.name}}
          </ion-label>
          <ion-buttons>
            <ion-button class="btn-icon" *ngIf="!reorderMode" (click)="editInModal(item)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ng-container>
    </ion-reorder-group>
  </ng-container>
</ion-content>
